extends ../layout

block content
    div.my-5
            h3 고객센터/문의 상세 내역
            br
            br
                .col.ps-0
                    .card.col(style="height: 75vh; overflow-y: auto")
                        .card-header.d-flex.justify-content-between.align-items-center.bg-light.position-sticky.top-0(style="z-index: 999")

                            div.card-text.col-8
                                p
                                    span.bg-primary.bg-opacity-50.text-white.rounded-4.p-2.mb-2 아이디
                                    span.ms-4 #{qna.q_id}
                                p
                                    span.bg-primary.bg-opacity-50.text-white.rounded-4.p-2.mb-2 제목
                                    span.ms-4 #{qna.title}
                                p
                                    span.bg-primary.bg-opacity-50.text-white.rounded-4.p-2.mb-2 작성일
                                    span.ms-4 #{qna.post_time}

                            div
                                p
                                    span.bg-primary.bg-opacity-50.text-white.rounded-4.p-2.mb-2
                                    span.ms-4 #{qna.content}
                                p
                                    span.bg-primary.bg-opacity-50.text-white.rounded-4.p-2.mb-2
                                    span.ms-4 #{qna.file_path}