extends ../layout
block content
    h2.m-4 문의게시판 관리
    table.table.text-center
        thead
            tr
                th(scope="col") 글번호
                th(scope="col") 유저명
                th(scope="col") 제목
                th(scope="col") 작성일
                th(scope="col") 관리
        tbody
            each qna in qnas

                tr
                    th(scope="row") #{qna.q_id}
                    th(scope="row") #{qna.u_id}
                    th(scope="row") #{qna.title}
                    th(scope="row") #{qna.post_time ? qna.post_time.toLocaleDateString("ko") : ''}
                    th(scope="row") #{qna.status}

                        if(qna.status===1)
                            a.btn.btn-sm.btn-dark.me-1 미답변
                        else
                            a.btn.btn-sm.btn-danger.me-1 답변

                                a.btn.btn-sm.btn-outline-dark.me-1(href=`/qnas/${qna.q_id}/detail.do`) 상세
                                a.btn.btn-sm.btn-outline-danger(href=`/qnas/${qna.q_id}/delete.do`) 삭제



    -const pageVo = qnas.pageVo;
    include ../pagination