extends ../layout

block content
    h2.m-4 가보자고 게시판 관리
    table.table.text-center
        thead
            tr
                th(scope="col") 글번호
                th(scope="col") 제목
                th(scope="col") 작성일
                th(scope="col") 관리

        tbody
            each trip in trips
                tr
                    td(scope="row") #{trip.t_id}
                    td(scope="row")
                        a(href=`/trips/${trip.t_id}/detail.do`).link-danger.text-dark #{trip.title}
                    td(scope="row") #{trip.post_time.toLocaleString("ko")}
                    td(scope="row")
                        a.btn.btn-sm.btn-outline-dark.me-1(href=`/trips/${trip.t_id}/detail.do`) 상세
                        a.btn.btn-sm.btn-outline-danger(href=`/trips/${trip.t_id}/delete.do`) 삭제

    -const pageVo = trips.pageVo;
    include ../pagination