extends ../layout

block content
    h2.m-4 유저관리
    table.table.text-center
        thead
            tr
                th(scope="col") 유저명
                th(scope="col") 이름
                th(scope="col") 생년월일
                th(scope="col") 가입일
                th(scope="col") 주소
                th(scope="col") 핸드폰
                th(scope="col") 마일리지
                th(scope="col") 등급
                th(scope="col") 관리

        tbody
            each user in users
                tr
                    th(scope="row") #{user.u_id}
                    th(scope="row") #{user.name}
                    th(scope="row") #{user.birth}
                    th(scope="row") #{user.post_time.toLocaleDateString("ko")}
                    th(scope="row") #{user.address}
                    th(scope="row") #{user.phone}
                    th(scope="row") #{user.mileages}
                    th(scope="row") #{user.permission}
                    th(scope="row")
                        a.btn.btn-sm.btn-outline-dark.me-1(href=`/users/${user.u_id}/detail.do`) 상세
                        a.btn.btn-sm.btn-outline-danger(href=`/users/${user.u_id}/delete.do`) 삭제

    -const pageVo = users.pageVo;
    include ../pagination